body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #000;
    font-family: 'OCR A Std', sans-serif;
    color: lightcyan;
    /* overflow: hidden; */
    margin: 0;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#logo {
    width: 100%;
    max-width: 800px;
    height: 200px;
}

#game-container {
    position: relative;
    width: 800px;
    height: 600px;
    border: 1px solid #fff;
    overflow: hidden;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('assets/textures/background.png');
    background-repeat: repeat-y;
    background-position: 0 0;
    background-size: cover;
    z-index: -1;
}

#game {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#scoreboard {
    position: absolute;
    top: 10px;
    left: 10px;
}

#pause-menu {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    background-color: transparent;
}

.buttons {
    font-family: 'OCR A Std', sans-serif;
    margin: 50px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    color: lightcyan;
    cursor: pointer;
}

#player {
    background-image: url('assets/textures/player.gif');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

#player-explode {
    background-image: url('assets/textures/explosion.gif');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.shot {
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url('assets/textures/bullet.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9;
}

.enemy {
    width: 45px;
    height: 45px;
    background-image: url('assets/textures/enemy.gif');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.enemy-shot {
    transform: rotate(90deg);
    width: 35px;
    height: 35px;
    background-image: url('assets/textures/bulletEnemy.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.ufo {
    width: 50px;
    height: 30px;
    background-image: url('assets/textures/ufo.gif');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 450px;
}

.wall-container {
    display: flex;
    justify-content: space-between;
}

.wall {
    height: 50px;
    width: auto;
    background-image: url('assets/textures/wall/wallLife2.png');
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1;
}

#game-over {
    font-family: 'OCR A Std', sans-serif;
    border: none;
    background-color: transparent;
    font-size: 30px;
    color: red;

    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

#game-complete {
    font-family: 'OCR A Std', sans-serif;
    border: none;
    background-color: transparent;
    font-size: 30px;
    color: rgb(255, 217, 0);

    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}